body {
    margin: 0;
}

.header {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    background-color: #FFD086;
    padding: 10px; 
    border-radius: 25px;
}

.header img {
    width: auto;
    height: auto;
}

.text {
    text-align: left; 
    width: 70%; 
}

.restaurant-container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin: 15px;
}

.restaurant-card {
    width: calc(100% / 3 - 20px);
    border-radius: 10px;
    overflow: hidden;
    background: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    padding-bottom: 10px;
    position: relative;
}

.restaurant-card img {
    width: 100%;
    height: auto;
    border-radius: 10px 10px 0 0;
}

h3 {
    margin: 10px 0;
}

.info {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 10px;
}

.time {
    background: orange;
    padding: 5px;
    border-radius: 5px;
    color: white;
}

.price {
    background: green;
    padding: 5px;
    border-radius: 5px;
    color: white;
}

.label {
    position: absolute;
    top: 10px;
    left: 10px;
    background: red;
    color: white;
    padding: 5px;
    border-radius: 5px;
    font-weight: bold;
    z-index: 10;
}

.popular {
    background: orange;
}

.free-delivery {
    background: red;
}

.spicy {
    background: darkred;
}
.photo-container_6 {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    
}

.photo-container_6 img {
    width: 32%; 
    height: auto; 
    border-radius: 10px; 
    margin: 0 1%; 
}
.photo-container_7 {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    
}

.photo-container_7 img {
    width: 32%; 
    height: auto; 
    border-radius: 10px; 
    margin: 0 1%; 
}
.magazine-card {
    width: calc(100% / 3 - 20px);
    border-radius: 10px;
    overflow: hidden;
    background: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    padding-bottom: 10px;
    position: relative;
}
.magazine-card img {
    width: 100%;
    height: auto;
    border-radius: 10px 10px 0 0;
}